body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #DBDBD3 20%
    );
}

.container {
    height: 90%;
    /* width: 1000px; */
}

.chat_container {
    height: 90%;
    width: 100%;
    background-color: salmon;
}

.row {
    height: 100%;
}

.chat {
    width: 40%;
    height: 100%;
    padding-right: 0;
}

.chat_header {
    background-color: #EAEAEA;
    height: 4rem;
    padding-inline: .5rem;
}

.chat .user img {
    height: 3.5em;
    padding: .3rem;
    border-radius: 5rem;
}

.chat .banner {
    height: 5rem;
    background-color: #8EDAFC;
}

.content_chat {
    width: 60%;
    height: 100%;
    padding-left: 0;
}

.content_header {
    height: 4rem;
    background-color: #EAEAEA;
    border-left: 1px solid black;
}